.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.card-dark {
  background: linear-gradient(#2c3e50, #0000);
  color: white;
}

.card-light {
  background: linear-gradient(to right, #ff9966, #ff5e62);
}
.modal-dark {
  background: linear-gradient(#2c3e50, #0000);
  color: white;
}

.modal-light {
  background: linear-gradient(to right, #ff9966, #ff5e62);
}

.Auth-form {
  width: 42%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #765eff;
  overflow: hidden;
  background: linear-gradient(to right, #3325b4, #ffa75e,rgb(60, 255, 0));
  background-size: 100% 200%;
  transition: all 1s;
  font-size: 100px;
}
#userInput {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
#postImgInput {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.imageUpload-light {
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, #3325b4, #ffa75e,rgb(60, 255, 0));
  color: black;
}
.imageUpload-dark {
  width: 100%;
  height: 200px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: black;
  width: 100%;
}
.post-add-dark {
  background: linear-gradient(#ad5389, #3c1053);
}
.hide {
  display: none;
}

.page_404 {
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background:  linear-gradient(to right, #ff9966, #ff5e62);
  margin: 6rem 0;
  display: inline-block;
  border: none;
  border-radius: 3px 3px;
}
.contant_box_404 {
  margin-top: -50px;
}

/* Media Query for mobile  */
@media only screen and (max-width: 375px) {
  .Auth-form {
    width: 95%;
    margin-top: 6rem;
  }
  .card {
    width: 24rem;
    margin-top: 3rem;
  }
  .card-body {
    margin-right: 4rem;
  }
}

.btn-danger {
  background-color: #bb5759;
  border: 1px solid #bb5759;
}
.icon-light {
  color: black;
}
.icon-dark {
  color: white;
}
.btn-red{
  background-color: rgb(255, 0, 119);
  padding: 13px 13px;
}

.card{
  width:38rem;
  background: linear-gradient(to right, #ff9966, #ff5e62)!important;
}